:root {
    --accent-color: #E43071;
    --backdrop-bg: rgb(0, 0, 0, 0.5);
    --black-color: #000000;
    --black-2-color: #0B0D17;
    --grey-color: #424242;
    --grey-2-color: #EDEDED;
    --grey-3-color: #D9DBE1;
    --l-grey-color: #969BAB;
    --pink-color: #FFC1D8;
    --white-color: #FFFFFF;
    --function-transit: 0.5s ease-in-out;
}